include ./includes/mainInfo.jade
include ./includes/header.jade
block blog
  div.blogWrap.col-lg-6.col-md-6.col-sm-12.col-xs-12.col-md-offset-3.col-lg-offset-3
    each val in posts
      div.blogPost
        div.title.col-lg-12.col-md-12.col-sm-12.col-xs-12
          a.titleText(href= '/loadPost?urlPost=#{val._id}'):  span.titleText !{val.title}
        div.autorAndDate.col-lg-12.col-md-12.col-sm-12.col-xs-12  
          a(href = '/aboutMe').titleAutor Автор: !{val.autor}
          p.titleData= val.date
        div.tags.col-lg-12.col-md-12.col-sm-12.col-xs-12  

        div.preText.col-lg-12.col-md-12.col-sm-12.col-xs-12
          hr
          span !{val.preText}
        div.readMore.col-lg-12.col-md-12.col-sm-12.col-xs-12
          a.titleText(href= '/loadPost?urlPost=#{val._id}') Продолжение >>
          hr 
        div.commentsAndTags.col-lg-12.col-md-12.col-sm-12.col-xs-12
          div.comments            
            a(href= 'http://192.168.0.120:8888/'+'loadPost?urlPost=#{val._id}#disqus_thread', data-disqus-identifier = "#{val._id}") 
          div.tags
            each tag in val.tags
              a(href= '/tags?tag=#{tag}')  #!{tag}     
          div#root              
script.
  DISQUSWIDGETS = undefined;
script#dsq-count-scr(src= "http://allai.disqus.com/count.js?ver<%=DateTime.Now.Ticks.ToString()%>")
script.
  if (DISQUSWIDGETS){
    DISQUSWIDGETS.getCount({reset:true});
    console.dir(DISQUSWIDGETS)
  } else {
    console.log('DISQUSWIDGETS not defined');
  }
  
