include ./includes/mainInfo.jade
include ./includes/header.jade
div(style={background: "url(#{headImg}) no-repeat scroll center center/cover"}).headPost 
div.blogWrap.col-lg-6.col-md-6.col-sm-12.col-xs-12.col-md-offset-3.col-lg-offset-3
  div.postTitle.col-lg-12.col-md-12.col-sm-12.col-xs-12 
    p !{title}
    p.dateAutor #{autor} | #{date}
  div.fullText.col-lg-12.col-md-12.col-sm-12.col-xs-12   
    !{text}























//script.
//  var headMar = document.querySelector('.head');
//  headMar.style.margin = "0px";
